---
// Import the Svelte components
import JSPDFToPdfConverter from "../components/JSPDFToPdfConverter.svelte";
import HtmlToPdfConverter from "../components/HtmlToPdfConverter.svelte";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Convert To PDF</title>
</head>
	<style>
		html, body, #container {
			widows: 100vw;
			height: 98vh;
			font-family: sans-serif;
		}
		#iframeWrap {
			widows: 90%;
			height: 80%;
			border: 2px solid #bbb;
			margin:4rem;
		}
		#iframe {
			widows: 100%;
			height: 100%;
		}
	</style>
<body>
	<!-- Container for the entire content -->
	<div id="container">
		<!-- Centering content and adding padding at the top -->
		<div class="flex justify-center pt-10">
			<!-- Flex container for cards -->
			<div class="flex flex-row gap-20">
				
				<!-- Card for the jsPDF version -->
				<!-- This section is prepared for a JavaScript-based PDF conversion, presumably with jsPDF -->
				<JSPDFToPdfConverter client:load />
				
				<!-- Card for the html2pdf.js version -->
				<!-- This section uses a Svelte component to perform PDF conversion, targeting content within an iframe -->
				<HtmlToPdfConverter selector="#iframe" client:only />
		
			</div>
		</div>
		<!-- Container for the iframe -->
		<!-- This section hosts the iframe whose content can be converted to PDF by the Svelte component -->
		<div id="iframeWrap">
			<!-- The iframe element. Ensure the source URL is accessible and adheres to CORS policy for content access -->
			<iframe id="iframe" src="https://edgewise.therefinery.com.au/builder-preview-wrapper/" frameborder="0" style="width:100%;height:100%"></iframe>
		</div>
	</div>
</body>
</html>
